* {
	box-sizing: border-box;
}

body {
	background-color: black;
	margin: 0;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	align-items: center;
	height: 100vh;
	text-align: center;
	overflow-x: hidden;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.btn {
	background-color: white;
	border: none;
	margin: 1rem;
	padding: 1.5rem 1.5rem;
	font-family: inherit;
	font-size: 1.2rem;
	cursor: pointer;
	text-transform: uppercase;
}
.btn:focus {
	outline: none;
}

@media (max-width: 500px) {
	.btn {
		width: 90vw;
		font-size: clamp(0.5rem, 10vw, 1rem);
	}
}
